<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="Standard-Logging-Config">
    <Properties>
        <Property name="CLR">
            {FATAL=bright red, ERROR=red, WARN=bright yellow, INFO=Normal, DEBUG=green, TRACE=black}
        </Property>
        <Property name="LOG_PATTERN">
            %highlight{%d{yy-MM-dd}}${CLR} | %highlight{%d{HH:mm:ss.SSS}}${CLR} | %clr{%2level}${CLR} %notEmpty{|
            %highlight{%mdc{tenant}}} |%magenta{[%-15.15thread]} | %cyan{%-70.70logger{70}} %highlight{:
            %m%n%xwEx}${CLR}
        </Property>
        <Property name="LOG_PATTERN_WITH_PID">
            %highlight{%d{yy-MM-dd}}${CLR} | %highlight{%d{HH:mm:ss.SSS}}${CLR} | %clr{%2level}${CLR} |
            %magenta{${sys:PID}} | %highlight{[%thread]}${CLR} | %cyan{%logger{70}} %highlight{: %m%n%xwEx}${CLR}
        </Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" disableAnsi="false" charset="UTF-8"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
